.title {
  font-size: 21px;
  font-weight: 600;
  @media (max-width:730px) {
    margin-top: 55px;
  }
}
.collection {
  position: relative;
  margin-top: 20px;
  max-width: 87%;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 2px 1px rgba(255, 116, 151, 0.6705882353);
  border-radius: 20px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  @media (max-width: 730px) {
    max-width: 100%;
  }
}
.collectionDetails {
  display: flex;
  align-items: center;
  gap: 22px;
  @media (max-width:650px) {
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    margin-bottom: 25px;
  }
}

.infoItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.key {
  font-size: 16px;
  color: rgb(101, 99, 99);
}

.value {
  font-size: 18px;
  font-weight: 600;
}
.collectionsNfts > div {
  margin-bottom: 10px;
}

.projectInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    max-width: 40px;
    overflow: hidden;
    border-radius: 50%;
  }
}
.infoRow {
  margin: 12px 0 0;
  display: flex;
  align-items: flex-start;
  gap: 40px;

  @media (max-width:730px) {
    margin-top: 25px;
  }
}
.projectDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.projectTitle {
  font-weight: 600;
}

.pinBtn {
  position: absolute;
  top: 15px;
  right: 15px;
}
.notPin {
  opacity: 0.5;
}

.deleteBtn {
  position: absolute;
  top: 5px;
  right: 60px;
  @media (max-width:730px) {
    top: 8px;
    left: 8px;
  }
}
